.button {
  display: inline-block;

  padding: .5rem;

  color: $text-light;
  background: $primary-colour;
  text-shadow: none;

  font-size: .9rem;
  font-weight: bold;

  border: none;
  border-radius: $bradius;
  outline: none;

  cursor: pointer;
  transition: transform .250s ease-out;

  &--noRadius {
    border-radius: 0;
  }

  &:hover {
    transform: scale(1.05);
    opacity: 1;
  }

  &:active {
    transform: scale(1.02);
  }
}
