input,
textarea,
button {
  padding: .5rem;
  border: none;
  outline: none;
  appearance: none;
}

button {
  cursor: pointer;
}

input {
  width: 100%;

  border: solid 1px $primary-colour;
  border-radius: $bradius;

  &.bnone {
    border: none;
  }
}
