input,
textarea,
button {
  padding: .5rem;

  outline: none;

  appearance: none;
}

button {
  border: none;
  outline: none;

  cursor: pointer;
}

input {
  width: 100%;

  border: solid 1px $primary-colour;
  border-radius: $bradius;
}
