.notes-content {
  flex-grow: 1;

  .notes-list-wrapper {
    overflow-y: scroll;
  }

  .notes-list {
    max-width: 46rem;
  }

  .notes-messageBox {
    position: relative;
    height: 16rem;
    border-top: solid 1px $lightgray;

    .notes-createButton {
      padding-left: 2rem;
      padding-right: 2rem;

      @include max-screen($small) {
        padding-left: 1rem;
        padding-right: 1rem;
      }
    }

    @include max-screen-height(700px) {
      height: 8rem;
    }

    @include max-screen-height(500px) {
      height: 6rem;
    }
  }

  .notes-editor-hint {
    position: absolute;
    left: .25rem;
    bottom: .25rem;
    width: 100%;
    max-width: 48rem;
    color: rgba($text-light, .6);
    font-size: 0.8rem;
    text-align: right;
  }
}
