.notes-content {
  flex-grow: 1;

  .notes-list-wrapper {
    overflow-y: scroll;
    overflow-x: hidden;
  }

  .notes-list {
    word-wrap: break-word;
  }

  .notes-messageBox {
    position: relative;
    height: 16rem;

    @include min-screen($medium) {
      margin-bottom: .5rem;
      margin-left: .5rem;
      margin-right: .5rem;
    }

    .notes-createButton {
      padding-left: 2rem;
      padding-right: 2rem;

      @include max-screen($small) {
        padding-left: 1rem;
        padding-right: 1rem;
      }
    }

    @include max-screen-height(800px) {
      height: 8rem;
    }

    @include max-screen-height(600px) {
      height: 5rem;
    }
  }

  .notes-editor {
    border-top: solid 2px rgba($light-colour, .2);

    @include min-screen($medium) {
      border-left: solid 2px rgba($light-colour, .2);
      border-right: solid 2px rgba($light-colour, .2);
      border-bottom: solid 2px rgba($light-colour, .2);

      border-radius: .2rem;
    }
  }

  .notes-editor-hint {
    position: absolute;
    right: .5rem;
    bottom: .5rem;
    width: 100%;
    color: rgba($text-dark, .4);
    font-size: 0.8rem;
    text-align: right;

    @include max-screen($small) {
      display: none;
    }
  }

  .note {
    &:hover {
      // background-color: $notes-hover;
    }
  }
}
