:root {
  --sidebar-width: 20%;

  @include break(xsmall) {
    --sidebar-width: 90%;
  }

  @include break(small) {
    --sidebar-width: 80%;
  }

  @include break(medium) {
    --sidebar-width: 30%;
  }
}

.notes-page {
  position: relative;
  min-height: 100vh;
  max-height: 100vh;
  overflow-y: hidden;

  .notes,
  .sidebar {
    margin: 0;

    transition: left .250s ease-out;
  }

  .sidebar {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: var(--sidebar-width);
  }

  .notes {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;

    display: flex;
    flex-direction: column;
  }

  &.sidebar-open {
    .notes {
      left: var(--sidebar-width);
    }
  }
}
