// These are the styles for the rendered markdown

.markdown {
  font-family: $serif;

  h1,
  h2,
  h3 {
    font-family: $sans;
  }

  > :first-child {
    margin-top: 0;
  }

  > :last-child {
    margin-bottom: 0;
  }

  p {
    word-wrap: break-word;
  }

  li > p {
    margin: .5rem 0;
  }
}
